<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--	配置dubbo信息-->
    <!--节点的名称-->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>
    <!--注册到zookeeper中的服务的名称-->
    <dubbo:application name="legou-sg-service"/>
    <!--注册的地址-->
    <dubbo:registry address="zookeeper://192.168.25.128:2181"/>
    <!--提供服务的类，同时也开启了注解扫描-->
    <dubbo:annotation package="cn.tx.service.impl"/>
    <!--连接zookeeper的连接超时时间 200秒 便于debug-->
    <dubbo:provider timeout="200000"/>

</beans>